/.phpunit.cache
/node_modules
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
export/content/docs
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed
